---
import Code from "@/components/Code.astro";
import Comments from "@/components/Comments.astro";
import SocialShare from "@/components/SocialShare.astro";
import MainLayout from "@/layouts/Main.astro";
import { actions } from "astro:actions";
import { render } from "astro:content";

const { id = "" } = Astro.params;
const { data: post, error } = await Astro.callAction(actions.posts.getById, {
  id
});

if (error || !post) if (error) return Astro.redirect("/404");

const { title, summary, createdDate, modifiedDate, tags } = post.data;
const { Content } = await render(post);

const page = Astro.url.searchParams.get("page") ?? "1";
const perPage = Astro.url.searchParams.get("per_page") ?? "12";
const search = Astro.url.searchParams.get("search") ?? undefined;
---

<MainLayout
  title={title}
  description={summary}
  mainClass="text-white justify-start"
>
  <Fragment slot={"after-nav"}>
    <Code as="h1" code={`# ${title}`} lang={"markdown"} />
    <Code as="h2" code={`## ${summary}`} lang={"markdown"} />
    <div class="justify-between">
      <div>
        <Code as="h3" code={`### ${tags.join(", ")}`} lang={"markdown"} />
      </div>
      <Code
        as="h4"
        code={`#### Created: ${createdDate}${createdDate !== modifiedDate ? ` | Modified: ${modifiedDate}` : ""}`}
        lang={"markdown"}
      />
      <div class="text-white">
        <SocialShare description={summary} title={title} />
      </div>
    </div>
  </Fragment>
  <hr class="m-4" />
  <article
    id="article"
    role="article"
    class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
  >
    <Content />
  </article>
  <a
    data-swup-preload
    href={`/blog?page=${page}&per_page=${perPage}${search ? `&search=${search}` : ""}`}
    class="link mt-8">← Go back</a
  >
  <Comments />
</MainLayout>
