---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Code from "../../components/Code.astro";
import Comments from "../../components/Comments.astro";
import api from "../../lib/api";

const { slug = "" } = Astro.params;
const { data: post, error } = await api.getPost({ slug });

if (error) console.error(error.message);
if (!post) throw new Error("Post must exist");

const { title, summary, createdDate, modifiedDate, tags } = post.data;
const { Content } = await post.render();

const page = Astro.url.searchParams.get("page") ?? "1";
const perPage = Astro.url.searchParams.get("per_page") ?? "12";
const search = Astro.url.searchParams.get("search") ?? undefined;
---

<BaseLayout title={title} description={summary}>
  <main
    class="flex min-h-screen flex-col p-12 justify-start text-center text-white"
  >
    <header class="w-full text-center space-x-2">
      <a href="/" class="link">Homepage</a>
      <a href="/blog" class="link">Blog</a>
      <a href="/projects" class="link">Projects</a>
    </header>
    <section id="frontmatter">
      <Code as="h1" code={`# ${title}`} lang={"markdown"} alignment="center" />
      <Code
        as="h2"
        code={`## ${summary}`}
        lang={"markdown"}
        alignment="center"
      />
      <div class="justify-between">
        <div>
          <Code
            as="h3"
            code={`### ${tags.join(", ")}`}
            lang={"markdown"}
            alignment="center"
          />
        </div>
        <small
          ><Code
            as="h3"
            code={`#### Created: ${createdDate}${createdDate !== modifiedDate ? `- Modified: ${modifiedDate}` : ""}`}
            lang={"markdown"}
            alignment="center"
          /></small
        >
      </div>
    </section>
    <hr class="m-4" />
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
    >
      <Content />
    </article>
    <a
      href={`/blog?page=${page}&per_page=${perPage}${search ? `&search=${search}` : ""}`}
      class="link mt-8">← Go back</a
    >
    <Comments />
  </main>
</BaseLayout>
