---
import Code from "@/components/Code.astro";
import Comments from "@/components/Comments.astro";
import Footer from "@/components/Footer.astro";
import SocialShare from "@/components/SocialShare.astro";
import Base from "@/layouts/Base.astro";
import { actions } from "astro:actions";

const { slug = "" } = Astro.params;
const { data: post, error } = await Astro.callAction(actions.getPost, { slug });

if (error) if (error) Astro.redirect("/404");
if (!post) throw new Error("Post must exist");

const { title, summary, createdDate, modifiedDate, tags } = post.data;
const { Content } = await post.render();

const page = Astro.url.searchParams.get("page") ?? "1";
const perPage = Astro.url.searchParams.get("per_page") ?? "12";
const search = Astro.url.searchParams.get("search") ?? undefined;
---

<Base title={title} description={summary}>
  <main
    class="flex min-h-screen flex-col p-12 justify-start text-center text-white w-full"
  >
    <header>
      <nav data-swup-preload-all class="w-full text-center space-x-2">
        <a href="/" class="link">Homepage</a>
        <a href={"/blog"} class="link">Blog</a>
        <a href="/projects" class="link">Projects</a>
      </nav>
      <Code as="h2" code={`## ${summary}`} lang={"markdown"} />
      <div class="justify-between">
        <div>
          <Code as="h3" code={`### ${tags.join(", ")}`} lang={"markdown"} />
        </div>
        <Code
          as="h3"
          code={`#### Created: ${createdDate}${createdDate !== modifiedDate ? `- Modified: ${modifiedDate}` : ""}`}
          lang={"markdown"}
        />
        <div class="text-white">
          <SocialShare description={summary} title={title} />
        </div>
      </div>
    </header>
    <hr class="m-4" />
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl prose-pre:border-[1px] prose-pre:border-skin-line prose-pre:border-solid"
    >
      <Content />
    </article>
    <a
      data-swup-preload
      href={`/blog?page=${page}&per_page=${perPage}${search ? `&search=${search}` : ""}`}
      class="link mt-8">← Go back</a
    >
    <Comments />
    <Footer />
  </main>
</Base>
