---
import { SITE_DESCRIPTION, SITE_NAME, TOP_BANNER } from "astro:env/server";
import { ClientRouter } from "astro:transitions";
import Header from "~/components/Header.astro";
import { cn, type HTMLAtrributesWithSlot } from "~/lib/utils";
import "~/styles/global.css";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import TopBanner from "~/components/TopBanner.astro";

export type Props = HTMLAtrributesWithSlot<"main"> & {
  title?: string;
  description?: string;
};
const {
  title = SITE_NAME,
  description = SITE_DESCRIPTION,
  class: className,
  ...props
} = Astro.props;

const currentUrl = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={currentUrl} />
    <ClientRouter />
  </head>
  <body class="bg-mocha flex p-8 pt-24 flex-col items-center justify-center">
    {TOP_BANNER !== "DISABLED" && <TopBanner />}
    <Header />
    <main
      {...props}
      class={cn(
        "flex w-full flex-col p-8 flex-1 h-full align-middle items-center text-center text-isabelline",
        className,
      )}
    >
      <slot />
      <Analytics />
      <SpeedInsights />
      <footer class="text-isabelline font-semibold text-center relative">
        © Ilias Moulas {new Date().getFullYear()}
      </footer>
    </main>
    {
      import.meta.env.DEV ? (
        <div class="fixed bottom-1 left-1 z-50 flex h-6 w-6 items-center justify-center rounded-full bg-gray-800 p-3 font-mono text-xs text-white">
          <div class="block sm:hidden">xs</div>
          <div class="hidden sm:block md:hidden">sm</div>
          <div class="hidden md:block lg:hidden">md</div>
          <div class="hidden lg:block xl:hidden">lg</div>
          <div class="hidden xl:block 2xl:hidden">xl</div>
          <div class="hidden 2xl:block">2xl</div>
        </div>
      ) : undefined
    }
  </body>
</html>
